@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");

div.accountsDiv {
  margin-top: 76px;
  margin-left: 64px;

  width: calc(100vw - 64px);
  height: calc(100vh - 76px);

  padding-top: 64px;

  text-align: center;
}

div.spotifyBox {
  position: relative;
  width: 80%;
  height: 30%;

  border: 1px solid #c4c4c4;
  margin: auto;

  text-align: center;
}

img.userImage {
  height: 55px;
  width: auto;

  position: absolute;

  left: -95px;
}

#spotifyLogo {
  position: absolute;
  left: 15px;
  top: 15px;
}

#loginButton {
  width: 269px;
  height: 47px;

  position: absolute;

  margin-top: -23.5px;
  margin-left: -135px;
  top: 50%;
  left: 50%;

  background: #1db954;
  border-radius: 15px;

  border: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;

  color: white;
}

#spotifyHeader {
  left: 10px;
  top: -21px;

  position: absolute;

  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;

  color: white;
}

#loggedIn {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;

  margin-bottom: 3px;
  left: 0px;
}

#loggedInDiv {
  position: relative;
  text-align: center;
  margin: auto;

  top: 15%;
}

#loggedInText {
  position: relative;
  margin: auto;
  width: 27%;

  text-align: left;
}

#loggedInHeader {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  margin-bottom: 5px;
  left: 0px;
}

#loggedInLine {
  width: 250px;
  height: 0px;

  border-top: 1px solid #c4c4c4;

  margin-bottom: 10px;
}

#logoutButton {
  width: 189.21px;
  height: 37.53px;

  border: 1px solid #1db954;
  box-sizing: border-box;
  border-radius: 7px;

  background: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;

  color: white;

  position: absolute;

  right: 20px;
  top: -12px;
}
