@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Raleway:500&display=swap");

div.libraryItemDiv {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 100%;
  height: 12%;

  border-bottom: 1px solid #c4c4c4;
}

img.albumImg {
  height: 75%;
  width: 45px;

  margin: 7px;
  margin-left: 15px;
  margin-top: 8px;
}

div.songInfoDiv {
  margin: auto;
  margin-left: 10px;

  width: 70%;
}

p.songTitle {
  margin-bottom: 0px;

  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: min(1.2vw, 11px);

  color: #ffffff;

  top: 31%;
}

p.songArtist {
  margin-bottom: 0px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: min(0.9vw, 10px);

  color: #ffffff;
}

div.songOptionsDiv {
  margin-right: 25px;
}

button.songOptions {
  background: url("../resources/images/Options.png");

  background-size: contain;
  background-repeat: no-repeat;

  border: none;

  height: 40px;
  width: 40px;
  margin: auto;

  position: relative;
  top: 49%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.queueButtonDiv {
  margin-right: 15px;
}

button.queueButton {
  background: url("../resources/images/QueueButton.png");

  background-size: contain;
  background-repeat: no-repeat;

  border: none;

  height: 40px;
  width: 40px;
  margin: auto;

  position: relative;
  top: 49%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button.playNow {
  height: 12%;
  width: 90%;

  position: absolute;

  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
