@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Raleway:500&display=swap");

div.controllerDiv {
  height: 35%;
  width: 100%;

  text-align: center;

  position: relative;

  overflow: hidden;
  /* background: url("../resources/images/AlbumImgPlaceholder.png"); */
}

img.currentTrackPic {
  position: absolute;
  top: -50%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;

  width: 100%;
  height: auto;

  margin: 0px;

  opacity: 0.23;

  z-index: 0;
}

div.controllerButtons {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  text-align: center;

  width: 50%;
  height: 50%;
  margin: auto;

  position: relative;
  top: 35%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button.restartButton {
  background: url("../resources/images/RestartButton.png");
  background-size: contain;
  background-repeat: no-repeat;

  border: none;

  height: 31px;
  width: 51px;
  margin: auto;

  position: relative;
  top: 34%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button.playButton {
  background-size: contain !important;
  background-repeat: no-repeat !important;

  border: none;

  height: 50px;
  width: 50px;
  margin-right: -20px;
  margin-left: -8px;

  position: relative;
  top: 41%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button.skipButton {
  background: url("../resources/images/SkipButton.png");
  background-size: contain;
  background-repeat: no-repeat;

  border: none;

  height: 31px;
  width: 51px;
  margin: auto;

  position: relative;
  top: 34%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button:focus {
  outline: none !important;
}

div.songText {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  z-index: 1000;
  position: relative;
}

div.TitleandPlatform {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

img.spotifyIconCP {
  /* background: url("../resources/images/Spotify.png"); */

  background-size: contain;
  background-repeat: no-repeat;

  border: 0;

  height: 16px;
  width: 16px;

  margin-left: 11px;
  margin-top: 2px;
}

img.youtubeIconCP {
  /* background: url("../resources/images/Spotify.png"); */

  background-size: contain;
  background-repeat: no-repeat;

  border: 0;

  height: 16px;
  width: 21px;

  margin-left: 11px;
  margin-top: 1px;
}

#songTitle {
  margin-bottom: 0px;

  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: min(1.2vw, 14px);

  color: #ffffff;

  top: 31%;
}

#songArtist {
  margin-top: 5px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: min(0.9vw, 11px);

  color: #ffffff;
}

div.seekbarDiv {
  width: 41%;
  margin: auto;
  margin-top: -8px;
  z-index: 1000;
  position: relative;
}

p.upNextText {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: min(1vw, 10px);
  color: #ffffff;

  position: absolute;
  left: 15px;
  bottom: -10px;
}

button.editQueueButton {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: min(1.1vw, 11px);
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;

  position: absolute;
  right: 15px;
  bottom: 4px;
}
