div.sessionFlex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: calc(100vw - 64px);
  height: calc(100vh - 76px);

  margin-top: 52px;
  margin-left: 64px;
}

div.sessionMiddle {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  height: 100%;
  width: 79%;

  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}

div.sessionRightContainer {
  height: 100%;
  width: 21%;

  border-top: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}

div.sessionRight {
  height: 100%;
  width: 100%;

  text-align: center;
}

.__1v1a1mw {
  display: none;
}
