div.queueDiv {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;

  height: 68%;
  width: 100%;
}

p.noQueueItemsText {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: min(1.2vw, 13px);

  color: #ffffff;

  margin: auto;

  margin-top: 7%;
}

div.noQueueItemsDiv {
  border-top: 1px solid #c4c4c4;
  text-align: center;

  height: 100%;
  width: 100%;
}
